{% comment %}

    Block quote

    E.G. --> {% include feature/blockquote.html quote="Knowledge comes, but wisdom lingers" speaker="Alfred Lord Tennyson" source="Locksley Hall" %}

    Options:
    - "quote" = quote text, can use Markdown
    - "speaker" = name of the person who said the quote
    - "source" = title of the quote's source
    - "source-link" = link to source

{%- endcomment -%}
<figure class="about-narrowed-content my-5 ps-3">
    <blockquote class="blockquote fs-4">
        <div class="mb-0 ">{{ include.quote | markdownify }}</div>
    </blockquote>
    {% if include.speaker or include.source %}<figcaption class="blockquote-footer text-end fs-5">{% if include.speaker %}{{ include.speaker }}, {% endif %}{% if include.source %}<cite title="Source Title">{% if include.source-link %}<a href="{{ include.source-link | relative_url }}">{% endif %}{{ include.source }}{% if include.source-link %}</a>{% endif %}</cite>{% endif %}</figcaption>{% endif %}
</figure>
